/* Reset */
@import "tailwindcss/base";
@import "reset";

/* Components */
@import "buttons";
@import "form";
@import "nprogress";

@import "tailwindcss/components";

/* Utilities */
@import "tailwindcss/utilities";

@responsive {
    .-translate-x-full {
      transform: translateX(-100%);
    }
    .translate-x-0 {
      transform: translateX(0);
    }
    .transition-medium {
      transition-duration: 0.2s;
    }
    .transition-none {
      transition-property: none;
    }

    .transition-slow {
      transition-duration: 0.3s;
    }

    .ease-in {
      transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    }

    .ease-out {
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
